<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    Sodie
   </header>

   <main>


    <div class="cardp">
        <img src="/limao.png" alt="foto bolo-churros">
        <h2>Bolo de Limão</h2>
        <p>Imagine um bolo que combina a frescura cítrica do limão com a doçura reconfortante de um bolo perfeitamente assado. O bolo de limão é uma obra-prima de sabor equilibrado e textura irresistível.</p>
        <p>R$ 40,00</p>
    </div>


    
  </main>

</body>
</html>