<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    Sodie
   </header>

<img class="churros" id="churros" src="/download (2).jpg" alt="foto bolo-churros">

</body>
</html>