<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   Sodie
  </header>

  <main>
    <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/bolo-chocolate.jpg" alt="foto bolo-chocolate"></a>
        
        <h2>Bolo de Chocolate</h2>
        <p>R$ 50,00</p>
    </div>

    <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/download (2).jpg" alt="foto bolo-churros"></a>
        <h2>Bolo de Churros</h2>
        <p>R$ 30,00</p>
    </div>

    <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/rocambole-de-doce-de-leite-2.jpg" alt="foto rocambole"></a>
        <h2>Rocambole de Doce de Leite</h2>
        <p>R$ 25,00</p>
    </div>
  </main>

</body>
</html>