<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   Sodie
  </header>

  <main>
    <div class="card">
        <img src="/bolo-chocolate.jpg" alt="foto bolo-chocolate">
        <h2>Bolo de Chocolate</h2>
    </div>

    <div class="card">
        <img src="/download (2).jpg" alt="foto bolo-churros">
        <h2>Bolo de Churros</h2>
    </div>

    <div class="card">
        <img src="/rocambole-de-doce-de-leite-2.jpg" alt="foto rocambole">
        <h2>Rocambole de Doce de Leite</h2>
    </div>
  </main>

</body>
</html>