<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   Sodie
  </header>

  <main>
    <div class="card">
        <img src="/bolo-chocolate.jpg" alt="foto bolo-chocolate">
        <h2>Bolo de Chocolate</h2>
    </div>

    <div class="card">
        <img src="fotos/b.jpeg" alt="foto da lasanha dentro do pote">
        <h2>Pão de Queijo</h2>
        <p>Eu gosto</p>
    </div>

    <div class="card">
        <img src="fotos/c.jpeg" alt="foto da lasanha dentro do pote">
        <h2>Pudim</h2>
        <p>é bom em slk faz ai que é sucesso </p>
    </div>
  </main>

</body>
</html>