<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    Sodie
   </header>

   <main>


    <div class="cardp">
        <img src="<%= produto.imagem %>" alt="foto bolo-churros">
        <h2><%= produto.nome %></h2>
        <p><%= produto.descricao %></p>
        <p><%= produto.preco %></p>
    </div>


    
  </main>

</body>
</html>