html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #006691;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header{
    font-size: 46px;
    color: #cdffff;
    background-color: #2499c7;
    padding: 10px 40px;
    text-align: center;
}

nav{
    font-size: 22px;
    background-color: rgb(233, 214, 132);
    filter: drop-shadow(0px 2px 2px #fa6a4a57);
}

nav ul{
    list-style: none;
    margin: 0 0 0 50px;
    padding: 5px 0px;
}

nav li{
    display: inline;
    padding-right: 50px;
}



main{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
}

.card{
    margin: 50px;
    background-color: #94e7ff;
    border: 2px solid #40cfff;
    display: inline-block;
    overflow: hidden;
    height: 350px;
    width: 380px;
    text-align: center;

}

.card h2{
    padding: 5px;
    margin: 0;
}

.card p{
    padding: px;
    margin: 0;
    font-size: 18px;
}

.card img{
    width: 250px;
    height: 165px;
}

.cardp{
    margin: 50px;
    background-color: #94e7ff;
    border: 2px solid #40cfff;
    display: inline-block;
    overflow: hidden;
    height: 480px;
    width: 480px;
    text-align: center;

}